.classpath
eclipse/
bin/
.gradle/
.project
.settings/
textures/noupload/
RandomJavaProj/ProcessingApp/.metadata/
RandomJavaProj/ProcessingApp/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
RandomJavaProj/ProcessingApp/.recommenders/
.idea/
out/
*.iml
